{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block link%}
    <link rel="stylesheet" href="{% static '/estilos/styles.css' %}">
    {%endblock link%}
    <title>{% block title %}
      catering
    {% endblock title %}</title>
</head>
<body>
    <header class="site-header inicio">
        <div class="contenido-header contenedor">
            <div class="barra">
                <div class="logo">
                    <img src="{% static '/imagenes/logo.png' %}" alt="logo">
                </div>
                <div class="bar">
                    <button><i class="fa-solid fa-bars" id="hdcross"></i></button>
                    <button><i class="fa-solid fa-xmark" id="Xmark"></i></button>
                </div>
                <nav class="nav">
                    <ul>
                        <a href="{% url 'inicio' %}"><li>Home</li></a>
                        <a href=""><li>Nosotros</li></a>
                        <a href="{% url 'categoria'%}"><li>Categorias</li></a>
                    </ul>
                </nav>
            </div>

            {%block hero%}
            <div class="header-hero">
                <h1>Buena comida y buenas vibras</h1>
                <p>Disfruta de nuesto buen ambiente y de nuestro amplio menú lleno de una variedad de esquisitos platos</p>
                <div class="boton-header"><a href="{% url 'categoria' %}" class="boton-dorado">Ver Menú</a></div>
            </div>
            {%endblock hero%}
       </div>
    </header>
    <section class="contenedor nosotros">
        {% block section %}
        {% endblock section %}
    </section>
    <footer class="site-footer seccion">
      {% block footer %}
      <div class="contenedor contenedor-footer">
            <nav class="nav">
                    <ul>
                        <a href="{% url 'inicio' %}"><li>Home</li></a>
                        <a href=""><li>Nosotros</li></a>
                        <a href="{% url 'categoria'%}"><li>Categorias</li></a>
                    </ul>
                </nav>
            <p class="copyright">Todos los derechos Reservados 2024 &copy;</p>
        </div>
      {% endblock footer %}
    </footer>
</html>
