{% extends 'layouts/base2.html' %} {% load crispy_forms_tags %} {% load static%} 
{% block section %}
<div class="contenedor seccion">
  <div class="card-container container d-flex justify-content-center  align-items-center flex-column">
    <div class="card-form card shadow-sm">
      <div class="card-body">
        <h2 class="card-title text-center">
          {% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Categoria
        </h2>
        <form method="post">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-lg  btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock section %}
