{% extends 'layouts/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Categoria{%endblock title%}</title>
    {%block link%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap4.css">
    {%endblock link%}
</head>
<body>
    {%block hero%}
    {%endblock hero%}
    {% block section %}
    <h1>datatables</h1>
    <table id="1" class="table table-striped table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="centered">Id</th>
                <th class="centered">Entradas</th>
                <th class="centered">Postres</th>
                <th class="centered">Platos Principales</th>
                <th class="centered">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in categoria%}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.entradas}}</td>
                <td>{{item.postre}}</td>
                <td>{{item.platoPrincipal}}</td>
                <td>
                    <div>
                    <a href="" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
    {% endblock section %}
    
    
</body>
</html>